<footer class="text-muted">
    <div class="container">
        <div class="float-right list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">Back to top</a>
            <a href="<?php echo $root . 'index.php'; ?>" class="list-group-item list-group-item-action">Home</a>
        </div>
        <p>All images copyright &copy; Marshall Farrier <?php echo $year; ?>. All rights reserved.</p>
        <p>Website design by Marshall Farrier using <a href="//getbootstrap.com/">Bootstrap</a> and
        <a href="//ashleydw.github.io/lightbox/">Lightbox</a>.</p>
    </div>
</footer>
