<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- For appealing link on FB -->
    <meta property="og:title" content="Spiritual reflections">
    <meta property="og:description" content="My work riffs on spiritual energy. It aims to look beneath physicality into nature's soul and into the essence of feeling and emotion.">
    <meta property="og:image" content="http://marshallfarrier.com/art/media/<?php echo $previewImage; ?>">

<?php
    include($paths['scripts'] . '_analytics.html');
?>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for album -->
    <!-- Special css for bootstrap album example. Not currently used-->
    <!-- <link href="<?php echo $root; ?>styles/bootstrap-album.css" rel="stylesheet"> -->
    <!-- Lightbox. http://ashleydw.github.io/lightbox/ -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">
    <title><?php echo $title;?></title>
</head>
